
/* Do debuggowania potrzebne {usunąć komentarz}
div { outline: 1px solid red; }
*/
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #111;
}

.app {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 220px;
  background: #1e1e1e;
  padding: 12px;
  box-sizing: border-box;
}

.logo {
  height: 30px;
  background: #2d2d2d;
  margin-bottom: 12px;
}

.navItem {
  height: 28px;
  background: #2d2d2d;
  margin-bottom: 10px;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
}

.topbar {
  height: 50px;
  background: #1e1e1e;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  box-sizing: border-box;
  flex-shrink: 0;
}

.title {
  width: 140px;
  height: 16px;
  background: #2d2d2d;
}

.icons {
  display: flex;
  gap: 8px;
}

.icon {
  width: 26px;
  height: 26px;
  background: #2d2d2d;
}

.content {
  padding: 12px;
  box-sizing: border-box;
  flex: 1;
  min-height: 0;
  overflow: auto;

  display: grid;
  gap: 12px;

  grid-template-columns: 1fr 1fr 0.65fr;

  grid-template-rows: 200px 1fr auto;
  align-items: stretch;
}

.box,
.tableBox,
.sideBox,
.bottomBox {
  background: #2a2a2a;
}

.topA { grid-column: 1; grid-row: 1; }
.topB { grid-column: 2; grid-row: 1; }

.tableBox {
  grid-column: 1 / span 2;
  grid-row: 2;
  min-height: 380px;
}

.sideBox {
  grid-column: 3;
  grid-row: 1 / span 2;
  background: #242424;
  min-width: 0;
  min-height: 0;
}

.bottomBox {
  grid-column: 1 / span 3;
  grid-row: 3;
  height: 400px;
} 